<?xml version="1.0"?>

<model>
  <name>DRP QrCode C</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Filipe Silva</name>
    <email>filipe25322@gmail.com</email>
  </author>

    Modelo C do qrcode para o transporte do cubo utilizado no DRP (Desafio de Robótica PETROBRAS)
  <description>
  </description>

</model>